// Specific CSS for your home-page
html {
    height: 100%;
  }

body{
    background: rgb(245,245,245);
    color: white;
    font-family: 'Cabin', sans-serif;
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background-image: url("night.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .nav-link {
    color: #ffe3fe;
    font-size: 20px;
  }


.container {
    text-align: center;
    background-size: cover;
    color: white;
    filter: brightness(90%);
}

.container .home_btn {
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  height: 180px;
  width: 180px;
  border-radius: 100px;
  padding-top: 80px;
  margin: auto;
  color: white;
  font-size: 20px;
  font-family: 'BioRhyme', serif;
  margin-top: 50px;
}

 .container .home_btn:hover {

  text-decoration: none;
 }


.container h2 {
  font-size: 100px;

}

.barnav h1 {
  color: #ffe3fe;
  font-family: 'BioRhyme', serif;
  font-weight: bold;
  margin-left: 20px;
}


  .login {
   display: flex;
   padding-left: 95%;
   color: white;
  }


  .login {
    color: rgb(255, 255, 255);
    padding-top: 10px;

  }

  #footer{
    background: rgb(30, 30, 30);
    color: lightgrey;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  #footer p {
    font-size: 12px;
  }

  #footer a {
    color: lightgrey;
    font-size: 12px;
  }

#footer ul {
    padding-top: 3px;
    margin-bottom: 3px;
}

  #footer a:hover {
    color: white;
  }
