// Specific CSS for your home-page
html {
    height: 100%;
  }

body{
    background: rgb(245,245,245);
    color: grey;
    font-family: 'Tajawal', sans-serif;
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
  }

  h1 {
    font-family: 'Josefin Sans', cursive;
    color: #000000;
    font-weight: bold;
  }

  .login {
   display: flex;
   padding-left: 95%;
   color: white; 
  }

  #banner {
    text-align: center;
    background-size: cover;
    background-image: url("Ciel-etoile.jpg");
    color: white;
    min-height: 600px;
    text-shadow: 1px 1px 5px grey;
    filter: brightness(90%);
  }

  #banner p {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    padding-top: 20%;
  }

  #footer{
    background: rgb(30, 30, 30);
    color: lightgrey;
    text-align: center;
    position: absolute; 
    bottom: 0;
    left: 0; 
    right: 0;
  }

  #footer p {
    font-size: 12px;
  }

  #footer a {
    color: lightgrey;
    font-size: 12px;
  }

#footer ul {
    padding-top: 3px;
    margin-bottom: 3px;
}

  #footer a:hover {
    color: white;
  }
