// Import page-specific CSS files here.
@import "home";

.container1 {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
.background {
  background-image: url(https://res.cloudinary.com/cloudpandora/image/upload/v1615471985/WitchBroom/stars_imdiu8.jpg);
}
