<head>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet' />
</head>
<body style="background: rgba(1, 52, 65, 0.89);">
<div class="container">
    <div class="block">
      <h1 style="color:white;">IMAGE</h1>
    </div>
    <% @brooms.each do |broom| %>
      <div class="block" style="color:white;">
        <h1 style="color:white;"><%= broom.name %></h1>
        <h5><i><%= broom.description %></h5></i>
        <p><%= broom.price %>$</p>
        <td><%= link_to 'Show', broom_path(broom) %></td>
      </div>
    <% end %>
  </div>
</div>
<div id="map" style="height: 300px; width: 600px"></div>
</body>
