.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.barnav {
  background-color: white;
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px 20px 10px;
  background-color: transparent;
  & h1 {
    color: white;
  }
}

.nav-link {
  text-decoration: none;
}